.arrows-div{
  display: flex;
  justify-content: center;
}
.outer-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging-button{
  color: whitesmoke;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
.paging-button:hover{
  font-weight: bolder;
}
.single-arrow{
  font-size: 25px;
}
.selected{
  font-weight: bold;
  text-decoration: underline
}
.fa-img{
  color: whitesmoke;
}
.fa-img:hover{
  font-weight: bold;
}
