<div class="arrows-div">
  <div class="outer-button">
    <div class="paging-button"><i class="fa fa-backward fa-img"></i></div>
    <div class="paging-button"><i class="fa fa-caret-left fa-img"></i></div>
    <div *ngIf="pages.length <= 5; else moreThanFivePages" class="outer-button">
      <div *ngFor="let page of pages" class="paging-button" [class.selected]="page == currentPage">{{page}}</div>
    </div>
    <ng-template #moreThanFivePages>
      <div *ngFor="let page of getPagesToDisplay()" class="paging-button" [class.selected]="page == currentPage">{{page}}</div>
    </ng-template>
    <div class="paging-button"><i class="fa fa-caret-right fa-img"></i></div>
    <div class="paging-button"><i class="fa fa-forward fa-img"></i></div>
  </div>
</div>
