.left-right{
  display: flex;
  margin: 50px;
}
.prevNext{
  color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}
.prevNextDiv{
  display: flex;
  justify-content: center;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid whitesmoke;
  border-bottom: 15px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid whitesmoke;
  border-bottom: 15px solid transparent;
}
