
h2{
  color: whitesmoke;
}
.outer-layer{
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: rgba(0,0,0,0.5);
  z-index: 3;
  top: 0;
}
.texts-and-button{
  top: 35vh;
  left: 10vw;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 2;
}
.primary-text{
  color: whitesmoke;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: Sansation-Bold;
}
.secondary-text{
  color: whitesmoke;
  font-family: Sansation-Regular;
}
.start-exploring-btn{
  color: whitesmoke;
  background: #c34d2f;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  margin-top: 17vh;
  outline: none;
  font-family: Sansation-Regular;
  cursor: pointer;
}
.start-exploring-btn:hover{
  background: #e86645;
}
.mars-img{
  position: absolute;
  top: 15vh;
  left: 50vw;
  height: 80vh;
  width: 80vh;
  pointer-events: none;
  z-index: 2;
}
.svgs {
  /*background:linear-gradient(30deg, rgba(6,6,32,1) 50%, rgba(0,55,87,1) 100%);*/
  background:linear-gradient(30deg, rgba(6,6,32,1) 50%, rgba(0,0,0,1) 100%);
  display: block;
}

.mars-circles{
  stroke-linecap: round;
}
.forwards{
  animation: rotate-forwards 100s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}
.backwards{
  animation: rotate-backwards 100s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes rotate-forwards {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes rotate-backwards {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
.next-components{
  position: absolute;
  top: 80vh;
}
.bottom-rocket{
  width: 100vw;
  height: 1000px;
  /*background-color: #b58b77;*/
  background-image: url(../../../assets/images/rocket-v4.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
}
.bottom-rocket-background{
  position: relative;
  width: 100vw;
  height: 1000px;
  background-color: #191716;
  display: flex;
  justify-content: center;
}
.github-info{
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  top: 300px;
}
.textbox-left, .textbox-right{
  box-shadow: 0 0 30px black;
  border-radius: 15px;
  padding: 60px;
  max-width: 200px;
}
.textbox-left{
  background: linear-gradient(316deg, #eaae6f, #482c21);
}
.textbox-right{
  background: linear-gradient(45deg, #eaae6f, #482c21);
}
.text{
  text-align: center;
  font-family: Sansation-Bold;
  color: whitesmoke;
  font-size: 20px;
}
.link{
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
