<div class="outer-layer">
  <app-menu-bar></app-menu-bar>
  <div class="texts-and-button">
    <h2 class="primary-text">EXPLORE MARS</h2>
        <h3 class="secondary-text">IMAGES DIRECTLY FROM THE NASA ROVERS</h3>
    <button class="start-exploring-btn" routerLink="/images">START EXPLORING</button>
  </div>
</div>
<img class="mars-img" src="../../../assets/images/mars-globe-valles-marineris-enhanced_3.png">
<svg class="svgs" height="150vh" width="100vw">
  <circle class="mars-circles" *ngFor="let circle of marsCircles; let i = index"
          [ngClass]="this.cicrleDirections[i] === true? 'forwards' : 'backwards'"
          [ngStyle]="{'animation-duration': circleSpeeds[i] + 's'}"
          [attr.stroke-dasharray]="circle.dashArray"
          [attr.cx]="marsImageCenter"
          cy="55vh"
          [attr.r]="circle.radius"
          stroke="rgba(255,255,255,0.1)"
          [attr.stroke-width]="circle.strokeWidth"
          fill="none"/>
</svg>
<div class="next-components">
  <app-rovers></app-rovers>
  <div class="bottom-rocket-background">
    <div class="github-info">
      <div class="textbox-left">
        <p class="text">Image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars.</p>
      </div>
      <div class="textbox-right">
        <p class="text">Images retrieved via REST API. <br> API maintained by <a href="https://github.com/chrisccerami/mars-photo-api" target="_blank" class="link">Chris Cerami</a>.</p>
<!--        <p class="text">API maintained by Chris Cerami.</p>-->
      </div>
    </div>
    <div class="bottom-rocket"></div>
  </div>
  <app-about-nasa></app-about-nasa>

</div>


