<div class="outer-container">
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav">
        <p class="nav-item-all" [ngClass]="router.url == '/' ? 'nav-item-selected' : 'nav-item'" routerLink="/">Home</p>
        <p class="nav-item-all" [ngClass]="router.url == '/search' ? 'nav-item-selected' : 'nav-item'" routerLink="/search">Search</p>
        <p class="nav-item-all" [ngClass]="router.url == '/about' ? 'nav-item-selected' : 'nav-item'" routerLink="/about">About</p>
      </ul>
    </nav>
  </div>
</div>

