.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 0px solid coral;
  width: 90%;
}
.close{
  position: absolute;
  z-index: 2;
  margin-top: 7px;
  margin-right: 15px;
  right: 10px;
  color: whitesmoke;
  font-size: 30px;
  opacity: 0.2;
}
.close:hover{
  opacity: 1;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 40px solid whitesmoke;
  border-bottom: 20px solid transparent;
  opacity: 0.2;
  position: absolute;
  z-index: 2;
  margin-top:  45%;
  margin-left: 10px;
  left: 10px;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid whitesmoke;
  border-bottom: 20px solid transparent;
  opacity: 0.2;
  position: absolute;
  z-index: 2;
  margin-top:  45%;
  margin-right: 10px;
  right: 10px;
}
.triangle-right:hover{
  opacity: 1;
}
.triangle-left:hover{
  opacity: 1;
}
