.background{
  padding-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  /*background: linear-gradient(to bottom right, #191716, #3d3a39);*/
  background: #191716;
  /*background:linear-gradient(0deg, rgba(6,6,32,1) 50%, rgba(25, 23, 22 ,1) 100%)*/
  /*background:linear-gradient(#060620, #191716);*/
}
.images-text{
  font-family: Sansation-Bold;
  font-size: 60px;
  color: whitesmoke;
  margin-left: 10vw;
}
.outer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 3;
}
.search-params{
  display: flex;
  align-items: end;
}
.search-box{
  margin: 0 30px 20px 0;
}
.modified{
  cursor: pointer;
}
.button{
  border-radius: 10px;
  margin: 2px;
  border-color: black;
  background: white;
  color: black;
  outline: none;
}
.submit{
  margin-top: 20px;
  color: whitesmoke;
  background: #c34d2f;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  outline: none;
  font-family: Sansation-Regular;
  cursor: pointer;
}
.submit:active{
  background: #c34d2f;
}
.submit:hover{
  background: #e86645;
}
.form-control{
  margin-bottom: 0px;
}
.labels{
  margin-bottom: 5px;
  color: whitesmoke;
  font-family: Sansation-Bold;
}

.selected{
  background: #c34d2f;
}
.un-selected{
  background: white;
  color: black;
}
.un-selected:active{
  background: #c34d2f;
}
.un-selected:hover{
  background: #e86645;
}
summary:focus{
  outline: none;
}
h3{
  margin: 0;
}
.custom-select-sm{
  border-radius: 10px;
}
.loadingComponent{
  color: #c34d2f;
}
