<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<svg height="100px" width="100vw">-->
<!--  <circle  cx="15vw" cy="0" r="50px" fill="rgba(255,255,255,1)"/>-->
<!--</svg>-->
<div class="background">
  <div>
    <h2 class="images-text">IMAGES</h2>
    <div class="outer-container">
      <div class="inner-container">
        <div class="search-params">
          <div class="search-box">
            <div class="labels">Rover:</div>
            <ng-select class="modified"
                       [items]="rovers"
                       bindLabel="name"
                       bindValue="name"
                       (ngModelChange)="roverSelected()"
                       [(ngModel)]="selectedRover">
            </ng-select>
          </div>
          <div class="search-box">
            <div class="labels">Camera:</div>
            <ng-select class="modified"
                       [items]="roverCameras"
                       bindLabel="name"
                       bindValue="name"
                       (ngModelChange)="getSolsOfRoverArray()"
                       [(ngModel)]="selectedCamera">
            </ng-select>
          </div>
          <div class="search-box">
            <div class="labels">Sol:</div>
            <ng-select class="modified"
                       [items]="solsOfRoverArray"
                       (ngModelChange)="getSolsOfRoverArray()"
                       [(ngModel)]="solNumber">
            </ng-select>
          </div>
        </div>
        <p class="labels">Corresponding earth date: <strong>{{ earthDateCorrespondingWithSol | date}}</strong></p>
        <button class="button submit" (click)="refreshImages()">Submit</button>
      </div>
    </div>
  </div>
  <app-left-right-arrows *ngIf="images.length != 0 && imagesLoaded" [sliceFrom]="sliceFrom" [sliceTo]="sliceTo" [imagesPerPage]="imagesPerPage" (changeScliceTo)="changeSlice($event)"></app-left-right-arrows>
  <app-images-container [images] = "images" [imagesLoaded] = "imagesLoaded" [firstLoad]="firstload"></app-images-container>
  <app-left-right-arrows *ngIf="images.length != 0 && imagesLoaded" [sliceFrom]="sliceFrom" [sliceTo]="sliceTo" [imagesPerPage]="imagesPerPage" (changeScliceTo)="changeSlice($event)"></app-left-right-arrows>

</div>
