<div class="outer-container">
  <div class="container">
    <h3>Select which images to list</h3>
    <hr>
    <p>Rover:</p>
    <p *ngIf="!roversLoaded" style="color: coral;">Loading rovers...</p>
    <button
      class="button"
      *ngFor="let rover of rovers"
      (click)="selectedRover = rover.name; roverSelected();"
      [ngClass]="selectedRover == rover.name ? 'selected' : 'un-selected'"
    > {{ rover.name }}</button>
    <div class="searchParams">
      <div>
        <details>
          <summary class="labels">Sol:</summary>
          <p>Sol (borrowed from the Latin word for sun) is a solar day on Mars; that is, a Mars-day.
            A sol is the apparent interval between two successive returns of the Sun to the same meridian (sundial time) as seen by an observer on Mars.
            It is one of several units for timekeeping on Mars.</p>
        </details>
        <p *ngIf="!solsOfRoverArrayLoaded" style="color: coral">Loading sols...</p>
        <select class="custom-select-sm" [(ngModel)]="solNumber" (change)="changeCorrespondingEarthDate()">
          <option *ngFor="let sol of solsOfRoverArray">{{sol}}</option>
        </select>
        <p style="margin-top: 10px">Corresponding earth date: {{ earthDateCorrespondingWithSol }}</p>
      </div>
      <div>
        <p class="labels">Max number of images per page:</p>
        <select class="custom-select-sm" [(ngModel)]="imagesPerPage">
          <option>5</option>
          <option>25</option>
          <option>100</option>
          <option>Show all</option>
        </select>
      </div>
    </div>
    <hr>
    <button class="button submit" (click)="refreshImages()">Submit</button>
  </div>
</div>
<app-left-right-arrows *ngIf="images.length != 0 && imagesLoaded" [sliceFrom]="sliceFrom" [sliceTo]="sliceTo" [imagesPerPage]="imagesPerPage" (changeScliceTo)="changeSlice($event)"></app-left-right-arrows>
<app-images-container [images] = "images" [imagesLoaded] = "imagesLoaded" [firstLoad]="firstload"></app-images-container>
<app-left-right-arrows *ngIf="images.length != 0 && imagesLoaded" [sliceFrom]="sliceFrom" [sliceTo]="sliceTo" [imagesPerPage]="imagesPerPage" (changeScliceTo)="changeSlice($event)"></app-left-right-arrows>
