.outer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.container {
  background: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}
.button{
  border-radius: 10px;
  margin: 2px;
  border-color: black;
  background: white;
  color: black;
  outline: none;
}
.submit{
  background: coral;
}
.submit:active{
  background: coral;
}
.submit:hover{
  background: lightsalmon;
}
.form-control{
  margin-bottom: 0px;
}
.labels{
  margin-top: 20px;
  margin-bottom: 5px;
}
.selected{
  background: coral;
}
.un-selected{
  background: white;
  color: black;
}
.un-selected:active{
  background: coral;
}
.un-selected:hover{
  background: lightsalmon;
}
summary:focus{
  outline: none;
}
