.menu{
  display: flex;
  position: sticky;
  float: right;
  right: 5vw;
  top: 0px;
  z-index: 15;
}
.menu-option{
  cursor: pointer;
  font-size: 25px;
  margin-top: 4vh;
  margin-left: 3vw;
  font-family: Sansation-Light;
  color: whitesmoke;
}
.menu-option:focus{
  outline: 0;
}

.rectangle{
  margin: 60px 30px 60px 30px;
  cursor: pointer;
  background-color: #c34d2f;
  width: 250px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  z-index: 0;
}
.rectangle::before{
  width: 254px;
  height: 50px;
}
.rectangle::after{
  width: 230px;
  height: 79px;
}
.rectangle::before, .rectangle::after {
  position: absolute;
  background: #c34d2f;
  z-index: -1;
  transition: 0.5s ease-in-out;
  content: '';
}
.rectangle:hover::before {
  height: 0px;
}

.rectangle:hover::after {
  width: 0px;
}
