<svg class="svgs" height="1000px" width="100vw">
  <circle class="mars-circles forwards" *ngFor="let circle of marsCircles; let i = index"
          cy="500px"
          [attr.cy]="i <= 6? '500' : '700'"
          cx="0px"
          [attr.cx]="circle.left? '0vw' : '100vw'"
          [attr.r]="circle.radius"
          stroke="rgba(255,255,255,0.1)"
          [ngClass]="circle.forwards === true? 'forwards' : 'backwards'"
          [ngStyle]="{'animation-duration': circle.speed}"
          [attr.stroke-width]="circle.strokeWidth"
          [attr.stroke-dasharray]="circle.dashArray"
          [attr.fill]="i === 0? 'rgba(255,255,255,0.1)' : 'none'"/>
</svg>
