@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-primary{
  border-radius: 5px;
}
body{
  background: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
