@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-primary{
  border-radius: 5px;
}

html, body {
  height: 100%;
  scrollbar-width: none;
}

body {
  background: black;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
