<div class="rovers-outer">
  <div>
    <div class="paragraph-text-container">
      <h2 class="rovers-text">ROVERS</h2>
    </div>
    <div class="backdrop">
      <div class="rectangle">
        <p class="menu-text">CURIOSITY</p>
      </div>
      <div class="rectangle">
        <p class="menu-text">SPIRIT</p>
      </div>
      <div class="rectangle">
        <p class="menu-text">OPPORTUNITY</p>
      </div>
      <div class="rectangle">
        <p class="menu-text">PERSEVERANCE</p>
      </div>
    </div>
  </div>
<!--  <div class="bottom-rover"></div>-->
  <div class="bottom-rover-background">
    <div class="bottom-rover"></div>
  </div>
<!--  <div class="bottom-rover"></div>-->

</div>


