.backdrop{
  background: #c34d2f;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.paragraph-text-container{
  background-color: #c34d2f;
  width: 100vw;
}
.rovers-text{
  font-family: Sansation-Bold;
  font-size: 60px;
  color: whitesmoke;
  padding-top: 100px;
  margin: 0 0 0 10vw;
}
.menu-text{
  color: black;
  font-size: 30px;
}
.rectangle{
  margin: 60px 30px 60px 30px;
  cursor: pointer;
  background-color: #c34d2f;
  width: 250px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  z-index: 0;
}
.rectangle::before{
  width: 254px;
  height: 50px;
}
.rectangle::after{
  width: 230px;
  height: 79px;
}
.rectangle::before, .rectangle::after {
  position: absolute;
  background: #c34d2f;
  z-index: -1;
  transition: 0.5s ease-in-out;
  content: '';
}
.rectangle:hover::before {
  height: 0px;
}

.rectangle:hover::after {
  width: 0px;
}
