.backdrop{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  border-radius: 10px;
  margin-right: 60px;
}
.rovers-outer{
  z-index: 11;
}
.paragraph-text-container{
  position: absolute;
  top: 25vh;
  width: 100vw;
}
.rovers-text{
  font-family: Sansation-Bold;
  font-size: 60px;
  color: whitesmoke;
  padding-top: 100px;
  margin: 0 0 0 10vw;
}
.rovers-outer{

}
.menu-text{
  color: whitesmoke;
  font-family: Sansation-Bold;
  font-size: 20px;
  z-index: 3;
}
.long-description{
  max-width: 350px;
}
.tabs-container{
  background-color: #191716;
  box-shadow: 0 0 15px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin-top: 80px;
  margin-bottom: 150px;
  border-radius: 10px;
}
.button{
  cursor: pointer;
  text-align: center;
  width: 200px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  margin: 5px;
}
.button:hover{
  background-color: #c34d2f82;
}
.selected{
  background-color: #c34d2f;
}
.selected:hover{
  background-color: #c34d2f;
}
.description-container{
  height: 285px;
  border: #b7b7b7 solid;
  padding: 30px;
  border-radius: 10px;
  z-index: 10;

}
.rover{
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rover-details{
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}
.description{
  font-family: Sansation-Bold;
  color: whitesmoke;
}
.bottom-rover{
  width: 100vw;
  height: 1000px;
  background-image: url(../../../assets/images/bottom-rover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
}
.bottom-rover-background{
  width: 100vw;
  height: 1000px;
}
.rover-options-container{
  background: linear-gradient(#A02F10, #A02F10);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave{
  display: block;
}

