.outer-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cnt{
  height: 1050px;
  text-align: center;
  width: 80%;
}
.loadingComponent{
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 20px;
}
