.outer-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7
;
}
.cnt{
  min-height: 600px;
  text-align: center;
  width: 80%;
  z-index: 7;
}
.loadingComponent{
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 20px;
}
