.outer-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.cnt{
  /*height: 1050px;*/
  min-height: 500px;
  text-align: center;
  width: 80%;
  z-index: 3;
}
.loadingComponent{
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 20px;
}
